body {
    
    background-color:#454546 ;

 


}

.t1{ color:#666666;
font: 30px Arial, georgia-serif;
font-weight: 100 ;
 display: inline-block;
 box-sizing: border-box;
 padding: 30px  ;
 margin: 30px 0px 30px 0px;
 background-color: #e8c39e;
 text-align: center;
 border-radius: 20px;
 border: 5px inset #f5e1c8 ;
 box-shadow: 1px 2px 20px 0 #e8c39e;
 text-shadow: 2px 2px 5px #f5e1c8,2px 2px 5px #f5e1c8,2px 2px 5px #f5e1c8 ,2px 2px 5px #f5e1c8;
 
}

.t2 { color: #e8c39e;
    font: 25px Arial , georgia-serif;
    display: inline-block;
    box-sizing: border-box ;
    padding:5px ;
    text-shadow: 2px 2px 5px #ccbca9;
    



}

.text1 { color: #454546; 
    padding:10px ;
    font: 15px Arial , sans-serif;
    box-sizing: border-box;
    display: inline-block;
    background-color: #ccbca9;
    border-radius: 5px;
    border:5px ridge #f5e1c8;
    text-align: left;
    text-align:center;
    margin-top: center ;
    
}

.subt1 { color: #e9a96a ;
  padding:2px;
  font: 15px Arial , sans-serif;
  box-sizing: border-box ;
  box-shadow: 0px 0px 7px 0 #f5e1c8;
  display: inline-block;
  background-color: #666666;
  border-radius: 2px ;
  border:3px inset #e8c39e ;
  

}


li.subt1 { color: #f5e1c8 ;
    padding:2px;
    font: 15px Arial , sans-serif;
    box-sizing: border-box ;
    display: inline-block;
    background-color: #666666;
    border-radius: 2px ;
    border:2px solid #e8c39e ;
  }
  
.img { background-color: #ffe4c9;
    margin: 6px 6px 0px 0px ;
    padding: 4px 4px 4px 4px;
    border: 3px outset #f5e1c8;
}  

.text2 { color: #e8c39e;
    font: 15px Arial , sans-serif;
    padding: 5px ;
    margin:  20px ;



}

.img1 { 
    margin: 9px 7px 0px 0px ;
    background-color: #ffe4c9;
    padding: 4px 4px 4px 4px ;
    border: 3px outset #f5e1c8;
}


span { float: right;
}

.putotexto {padding: 60px 0px 0px 0px;}



.but1 a{ background-color: #f5e1c8;
    font: cambria , bold;
    text-decoration:none;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px ;
    border: 2px solid #e8c39e;
    border-radius: 10px;
    color: #454546;
    transition-property: background , border , box-shadow;
    transition-duration: 1s;
    
}

.but1 :hover { 
    font: cambria , bold;
    background-color: #666666;
    text-decoration:none;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px ;
    border: 2px solid #f5e1c8 ;
    border-radius: 10px;
    color: #dfdfdf;
    box-shadow: 2px 2px 30px #754712;
}

.cuadrito1 {
    box-sizing: border-box;
    background-color: #ffe4c9 ;
    padding: 10px;
    display: inline-block ;
    
    margin-left: 20%;
    margin-right: 20% ;
    margin-top: 30px;
    border: 3px solid #e9a96a;
    border-radius: 15px ;
    box-shadow: 0px 0px 20px  #e9a96a ;
    
}

.codigos {

    color: #f5e1c8 ;
    padding:2px;
    font: 15px Arial , sans-serif;
    box-sizing: border-box ;
    display: inline-block;
    background-color: #666666;
    border-radius: 2px ;
    border:2px solid #e8c39e ;
    text-shadow: 1px 1px 4px #ffe4c9;
    box-shadow: 0px 0px 7px 0 #ffe4c9;
    margin: 30px 0px 0px 0px ;
    
}

.cuadrito2 {

    box-sizing: border-box;
    background-color: #ffe4c9 ;
    padding: 10px;
    display: inline-block ;
    margin:30px 0px 30px 0px;
    border: 3px solid #e9a96a;
    border-radius: 15px ;
    box-shadow: 0px 0px 20px  #e9a96a;

}

.cuadrito3 {

    box-sizing: border-box;
    background-color: #ffe4c9 ;
    padding: 10px;
    display: inline-block ;
    margin:30px 0px 0px 105px;
    border: 3px solid #e9a96a;
    border-radius: 15px ;
    box-shadow: 0px 0px 20px  #e9a96a;

}

.codigos1 {

    color: #f5e1c8 ;
    padding:2px;
    font: 15px Arial , sans-serif;
    box-sizing: border-box ;
    display: inline-block;
    background-color: #666666;
    border-radius: 2px ;
    border:2px solid #e8c39e ;
    text-shadow: 1px 1px 4px #ffe4c9;
    box-shadow: 0px 0px 7px 0 #ffe4c9;
    margin: 30px 0px 0px 0px ;

}

.cuadrito {

    box-sizing: border-box;
    background-color: #ffe4c9 ;
    padding: 10px;
    display: inline-block ;
    text-align: center;
    border: 3px solid #e9a96a;
    border-radius: 15px ;
    box-shadow: 0px 0px 20px  #e9a96a;
    margin: 30px 0px 0px 280px ;
}

.nidea {

    margin-top: 30px;
}

.cuadro3 { 
    box-shadow: 0px 0px 20px #754712;
    box-sizing: content-box;
    display: inline-flex;
    border:10px groove #72512b;
    padding:0px; 
}

.filtro{

    display: none;
}

.container {

padding: 0px;

}